@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ABC's Grocery Store</h1>
</div>
<div class="text-center">
    <img src="~/css/img/abcstore.png" height="200px;" />
</div>
<div class="text-center">
    <p class="align-content-center">
        Grocery Stores with 2 main Locations: <span class="alert-primary" style="font-weight:bold">Arlington, TX</span> <span class="alert-danger" style="font-weight:bold">Houston, TX</span>
    </p>
    <p>
        Grocery Stores are runing with kinds of: <span class="alert-danger"style="font-weight:bold">Ariel, </span><span class="alert-danger"style="font-weight:bold">Downie, </span><span class="alert-danger"style="font-weight:bold">Suavitel</span>
    </p>
</div>
