@model StoreApp.App.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Menu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item">1. Place An Order</li>
                    <li class="list-group-item">2. Your Order History</li>
                    <li class="list-group-item">3. Logout</li>
                </ul>
            </div>
            <div class="form-group">
                <label asp-for="Choice" class="control-label">Please Enter Your Choice With NUMBER ONLY</label>
                <input asp-for="Choice" class="form-control" />
                <span asp-validation-for="Choice" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Go To" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login" asp-controller="Customer">Back to List</a>
</div>

