
@{
    ViewData["Title"] = "Thankyou";
}

<h1>Thank You!!!!!</h1>
<h4>Updated Your Inventory Successully</h4>
<hr/>

<div class="text-center">
    <img src="~/css/img/thumbsup.png" width="300px;" />
</div>