@model StoreApp.App.Models.UpdateStoreDisPlay

@{
    ViewData["Title"] = "UpdatedStoreDisplay";
}

<h1>Update Your Store</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatedStoreDisplay">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Ariel" class="control-label">Ariel</label>
                <input asp-for="Ariel" class="form-control" required />
                <span asp-validation-for="Ariel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Downie" class="control-label">Downie</label>
                <input asp-for="Downie" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Suavitel" class="control-label">Suavitel</label>
                <input asp-for="Suavitel" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
